//font-family 

$font-stack-head:'Poppins', sans-serif;
$font-stack-text:'Roboto', sans-serif;

//color variables

$bg-color:#fffffe;
$btn-bg:#6246ea;
$text-color:#2b2c34;
$btn-text:#fffffe;
$alert-color:#e45858;